<mat-tab-group mat-align-tabs="start">
    <mat-tab label="About">

        <div>PlatForms: PC, test</div>
        <div>Publishers: Rock on test</div>
        <div> Website: <a href="#" target="_blank">website link here</a></div>
        <div> Description: <p>description here...</p></div>
        <mat-icon>thumb_up</mat-icon> <p>2433</p>
        <mat-icon>thumb_down</mat-icon> <p>23</p>


    </mat-tab>
    <mat-tab label="Screenshots">
        <img src="../../../assets/FC1.jpeg"/>
        <img src="../../../assets/FC1.jpeg"/>
        <img src="../../../assets/FC1.jpeg"/>
    </mat-tab>
    <mat-tab label="Trailers">
        Trailers
    </mat-tab>
</mat-tab-group>