<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start">
    <mat-tab label="About">
        
        <p>PlatForms: PC, test</p>
        <p>Publishers: Rock on test</p>
        <p> Website: <a href="#" target="_blank">website link here</a></p>
        <p> Description: <p>description here...</p>
        <mat-icon>thumb_up</mat-icon> <p>2433</p>
        <mat-icon>thumb_down</mat-icon> <p>23</p>


    </mat-tab>
    <mat-tab label="Screenshots">
        <img class="imgsize" src="../../../assets/FC1.jpeg"/>
        <img class="imgsize" src="../../../assets/FC1.jpeg"/>
        <img class="imgsize" src="../../../assets/FC1.jpeg"/>
    </mat-tab>
    <mat-tab label="Trailers">
        Trailers
    </mat-tab>
</mat-tab-group>
</div>